################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DevicesInterconnection/FileContentIndex
/Platform/Windows/bin
/DevicesInterconnection_TemporaryKey.pfx
/Platform/SuperConnecting_Windows/.vs/SuperConnecting_Windows/FileContentIndex/68326d02-6113-4343-8d0b-c7bbc77fa4eb.vsidx
